/*! ---------- =common =components ---------- */

body {
  background-color: $bg;
}

a {
  text-decoration: none;
  color: $primary;
}
a, button {
  transition: color 0.15s ease-out, opacity 0.15s ease-out, box-shadow 0.15s ease-out;
}
.text-link {
  box-shadow: 0 3px 0 $primary;
  &:hover, &:focus {
    color: #fff;
    box-shadow: 0 0 0 3px $accent, inset 0 (-($line + 3px)) 0 $accent;
  }
}

.margin {
  margin-bottom: $line;
}
.margin-large {
  margin-bottom: $line*2;
}
.margin-small {
  margin-bottom: $line/2;
}
.margin-top {
  margin-top: $line;
}
.margin-top-large {
  margin-top: $line*2;
}
.margin-top-small {
  margin-top: $line/2;
}

.article-card {
  display: block;
  padding: $line;
  color: #fff;
  background: $primary-dark;
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
    opacity: 0.2;
  }
  &__title, &__summary {
    position: relative;
    z-index: 2;
  }
  &__title {
    margin: 0 0 $line/2;
  }
  &__subtitle {
    display: block;
    font-family: $font-stack-primary;
    font-weight: 400;
    font-style: italic;
    font-size: $mega;
    line-height: $line;
  }
  &__summary {
    @extend .alternate-typeface;
    opacity: 0.8;
  }
}

.toggle-active-text, .is-active .toggle-inactive-text {
  display: none;
}
.is-active .toggle-active-text {
  display: inline;
}

.group {
  @include clear;
}
