/*! ---------- =body ---------- */

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.content {
  padding: $line;

  @media #{$min-m} {
    padding: $line*1.5;
  }
}

.text-copy {
  @extend .group;
  a {
    @extend .text-link;
  }

  @media #{$min-s} {
    text-align: justify;
  }
}

.page-title {
  margin: 0 (-$line) $line;
  padding-bottom: 8px;
  text-align: center;
  color: #fff;
  background: $accent-dark url('../images/bg-title.jpg') no-repeat 50% 50%;
  background-size: cover;
  &__sub {
    display: block;
    font-family: $font-stack-primary;
    font-weight: 400;
    font-style: italic;
    font-size: $mega;
    line-height: $line;
    color: #fff;
    opacity: 0.85;
  }
  &__container {
    display: block;
    padding: $line $line $line*1.25;
    background: rgba(0,0,0,0.4);
  }
  .content > &:first-child {
    margin-top: -$line;
  }

  @media #{$min-m} {
    margin: 0 (-$line*1.5) $line*1.5;
    .content > &:first-child {
      margin-top: -$line*1.5;
    }
    &__sub {
      font-size: $giga;
    }
  }
}
