/* ---------- =reviews ---------- */

.review-stats {
  background: $bg-light;
  padding: $line $line $line/2;
  margin: 0 (-$line) $line;
  &__label, &__elaboration {
    font-family: $font-stack-primary;
    font-weight: 400;
    font-style: italic;
    font-size: $micro;
    color: $copy;
    opacity: 0.7;
  }
  &__group {
    display: inline-block;  // avoid break inside when columnized
    width: 98%;
    margin-bottom: $line/2;
  }
  &__stat {
    @extend .alternate-typeface;
    font-size: $kilo;
    font-weight: 700;
    color: $accent-dark;
  }
  &__elaboration {
    display: block;
    font-style: normal;
  }
  &__toggle {
    @extend .alternate-typeface;
  }
}

.related {
  padding-top: 8px;
  margin: $line (-$line);
  background: $accent-dark url('../images/bg-title.jpg') no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  &__container {
    padding: $line $line $line;
    background: rgba(0,0,0,0.4);
  }
  &__list {
    list-style: none;
    margin-left: 0;
  }
  &__item {
    margin-bottom: $line/2;
    a {
      @extend .text-link;
      color: rgba(255,255,255,0.9);
    }
  }
}

.post-content {
  margin: $line*1.5 0 $line/2;
  text-align: center;
  a {
    @extend .text-link;
    display: inline-block;
    margin: 0 $line $line/2 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.page-main-image, .page-stats-image {
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $copy;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
.page-main-image {
  float: left;
  width: 150px;
  height: 300px;
  margin: 0 $line $line/4 0;
}
.page-stats-image {
  display: none;
}


@media #{$min-s} {
  .review-stats {
    column-count: 2;
  }
  .page-main-image {
    width: 40%;
    height: 50vw;
  }
}


@media #{$min-m} {
  .review-stats {
    margin: 0 (-$line*1.5) $line;
    padding: $line*2;
    column-count: 3;
  }
  .related {
    margin: $line*1.5 (-$line*1.5) $line;
    &__container {
      padding-left: $line*1.5;
      padding-right: $line*1.5;
    }
  }
  .post-content {
    margin: $line*1.75 0 0;
  }
}


@media #{$max-l} {
  .page-main-image, .page-stats-image {
    &__image {
      transform: none !important;
    }
  }
}


@media #{$min-l} {
  .detail {
    .content {
      width: $page-width;
    }
    .page-header, .page-footer {
      margin-left: 0;
    }
  }
  .page-main-image, .page-stats-image {
    &__image {
      top: -40px;
      bottom: -40px;
    }
  }
  .page-main-image {
    width: auto;
    height: auto;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: $page-width;
  }
}


@media #{$max-w} {
  .review-stats {
    .js & {
      max-height: $line*22;
      overflow: hidden;
      opacity: 1;
      transition: all 0.2s ease-out;
      &:not(.is-active) {
        max-height: 0;
        visibility: hidden;
        visibility: visible;
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
      &__toggle {
        position: relative;
        display: block;
        padding: $line/4;
        width: 100%;
        width: calc(100% + #{$line*2});
        margin: -$line/2 (-$line) 0;
        background: $action;
        background-image: linear-gradient(to right, $action-dark, $action);
        color: #fff;
        z-index: 2;
      }
    }
    .no-js & {
      &__toggle {
        display: none;
      }
    }
  }
}


@media #{$min-m} and #{$max-w} {
  .review-stats {
    .js & {
      &__toggle {
        margin: -$line*3/4 (-$line*1.5) 0;
        width: calc(100% + #{$line*3});
      }
    }
  }
}


@media #{$min-w} {
  $left-column-width: 250px;
  .detail {
    .page-header, .content, .page-footer {
      margin-left: $left-column-width;
    }
  }
  .page-main-image {
    left: $page-width + $left-column-width;
  }
  .page-stats-image, .review-stats {
    display: block;
    width: $left-column-width;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .review-stats {
    position: absolute;
    margin: 0;
    padding: $line*12 $line*1.5 $line;
    column-count: 1;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    overflow-y: auto;
    text-align: right;
    &__group {
      margin-bottom: $line;
    }
    &__label, &__elaboration {
      color: #fff;
    }
    &__stat {
      color: $accent-light;
    }
    &__toggle {
      display: none;
    }
  }
}


@media #{$min-hd} {
  $left-column-width: 350px;
  .detail {
    .page-header, .content, .page-footer {
      margin-left: $left-column-width;
    }
  }
  .page-main-image {
    left: $page-width + $left-column-width;
  }
  .page-stats-image, .review-stats {
    display: block;
    width: $left-column-width;
  }
}
