<header class="page-header" role="banner">
    <h1 class="header-logo">
        <a href="/">
            <img src="/static/dist/images/logo.png" alt="Tim drinks whiskies" />
        </a>
    </h1>
    <button type="button" class="header-nav__toggle" data-toggle-target="next">Menu</button>
    <nav class="header-nav">
        <ul class="header-nav__list">
            <li class="header-nav__item"><a href="/reviews">Reviews</a></li>
            <li class="header-nav__item"><a href="/articles">Articles</a></li>
            <li class="header-nav__item"><a href="/about">About</a></li>
            <li class="header-nav__item"><a href="/search">Search</a></li>
        </ul>
    </nav>
</header>
