<header class="page-header" role="banner">
    <h1 class="header-logo">
        <a href="/">
            <img src="/static/dist/images/logo.png" alt="Tim drinks whiskies" />
        </a>
    </h1>
    <button type="button" class="header-nav__toggle" data-toggle-target="next">Menu</button>
    <nav class="header-nav">
        <ul class="header-nav__list">
            <!-- <li class="header-nav__item header-nav__item--user">{{ user.name }}</li> -->
            <li class="header-nav__item"><a href="/admin">Content</a></li>
            <li class="header-nav__item"><a href="/admin/supplementary">Supplementary</a></li>
            <li class="header-nav__item"><a href="/admin/files">Files</a></li>
        </ul>
    </nav>
    <div class="header-user">
        <span class="header-user__message">Welcome,</span>
        <span class="header-user__name">{{ currentUser.name }}</span>.
        <a href="/logout" class="header-user__action">Sign out?</a>
    </div>
</header>
