// font stacks
$font-stack-primary: "Merriweather", "Georgia", serif;
$font-stack-secondary: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

// text sizing
$line: 26px;
$text: 17px;
$micro: 15px;
$milli: 13px;
$kilo: 18px;
$mega: 22px;
$giga: 28px;
$tera: 34px;
$peta: 42px;
$exa: 50px;
$yotta: 60px;

// page sizing
$page-width: 1024px;

// common colors
$bg: #f5f3f0;

$copy: #585858;

$primary: #04a35e;
$accent: #009ba9;
$action: #ec8517;

// breakpoints
$break-s: 470px;
$break-m: 720px;
$break-l: 960px;

// breakpoint usage
$min-s: "(min-width: " + $break-s + ")";
$max-s: "(max-width: " + ($break-s - 1px) + ")";

$min-m: "(min-width: " + $break-m + ")";
$max-m: "(max-width: " + ($break-m - 1px) + ")";

$min-l: "(min-width: " + $break-l + ")";
$max-l: "(max-width: " + ($break-l - 1px) + ")";

$hdpi: "only screen and (-webkit-min-device-pixel-ratio: 2)," +
       "only screen and (min-device-pixel-ratio: 2)," +
       "only screen and (min-resolution: 192dpi)," +
       "only screen and (min-resolution: 2dppx)";
