/*! ---------- =typography ---------- */

body {
  font: #{$text}/#{$line} $font-stack-primary;
  color: $copy;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.alternate-typeface {
  font-family: $font-stack-secondary;
}

p, ol, ul, h1, h2, h3, h4, h5, h6 {
  margin-bottom: $line;
}
p, ol, ul {
  orphans: 2;
  widows: 2;
  &:last-child {
    margin-bottom: 0;
  }
}
ol, ul {
  margin-left: 2em;
}
h1, h2, h3, h4, h5, h6 {
  @extend .alternate-typeface;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: $peta;
  line-height: $line*2;
}
h2 {
  font-size: $tera;
  line-height: $line*2;
}
h3 {
  font-size: $giga;
  line-height: $line*1.5;
}
h4 {
  font-size: $mega;
}
h5 {
  font-size: $kilo;
}

.unkerned-punctuation {
  display: inline-block;
  margin-left: -0.3em;
}

.note {
  font-size: $micro;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
  input + &, textarea + & {
    margin-top: -$line*3/4;
  }
}


@media #{$min-m} {
  h1 {
    font-size: $exa;
  }
}


@media #{$min-l} {
  h1 {
    font-size: $yotta;
    line-height: $line*2.5;
  }
}
