<h1>Login Page!</h1>

<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <button type="submit">Go</button>
</form>
