/* ---------- =detail views ---------- */

.review-stats {
  background: $bg-light;
  padding: $line $line $line/2;
  margin: 0 (-$line) $line;
  &__label, &__elaboration {
    font-family: $font-stack-primary;
    font-weight: 400;
    font-style: italic;
    font-size: $micro;
    color: $copy;
    opacity: 0.7;
  }
  &__group {
    display: inline-block;  // avoid break inside when columnized
    width: 98%;
    margin-bottom: $line/2;
  }
  &__stat {
    @extend .alternate-typeface;
    font-size: $kilo;
    font-weight: 700;
    color: $accent-dark;
  }
  &__elaboration {
    display: block;
    font-style: normal;
  }
  &__toggle {
    @include page-details-toggle($break-w, $line*22);
  }
}

.text-contents {
  margin: 0 (-$line) $line;
  padding: $line;
  background: $accent-dark;
  background-image: linear-gradient(to right, $primary-dark, $accent-dark);
  color: #fff;
  &__label {
    display: inline-block;
    margin-right: $line/2;
    font-size: $micro;
    font-style: italic;
    opacity: 0.7;
  }
  a {
    @extend .text-link--inverse;
    @extend .alternate-typeface;
    display: inline-block;
    margin-right: $line/2;
    position: relative;
  }
}

.related {
  padding-top: 8px;
  margin: $line (-$line);
  background: $accent-dark url('../images/bg-title.jpg') no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  &__container {
    padding: $line $line $line;
    background: rgba(0,0,0,0.4);
  }
  &__list {
    list-style: none;
    margin-left: 0;
  }
  &__item {
    margin-bottom: $line/2;
    a {
      @extend .text-link;
      color: rgba(255,255,255,0.9);
    }
  }
}

.post-content {
  margin: $line*1.5 0 $line/2;
  text-align: center;
  a {
    @extend .text-link;
    display: inline-block;
    margin: 0 $line $line/2 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.page-main-image, .page-stats-image {
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $copy;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
.page-main-image {
  float: left;
  width: 150px;
  height: 300px;
  margin: 0 $line $line/4 0;
  &__image {
    background-color: mix($copy, #000, 30%);
  }
}
.page-stats-image {
  display: none;
}


@media #{$max-s} {
  // arrange contents links vertically, and space them a bit
  .text-contents {
    line-height: $line*1.25;
    &__label {
      display: block;
    }
    a {
      display: inline;
      line-height: $line;
      &::after {
        content: '\A';
        white-space: pre;
      }
    }
  }

}


@media #{$min-s} {
  .review-stats {
    column-count: 2;
  }
  .page-main-image {
    width: 40%;
    height: 50vw;
  }
  .text-contents {
    a:not(:last-child)::after {
      content: ',';
      position: absolute;
      left: 100%;
      left: calc(100% + 0.15em);
    }
    a:not(:last-child):hover::after {
      opacity: 0;
    }
  }
}


@media #{$min-m} {
  .review-stats {
    margin: 0 (-$line*1.5) $line;
    padding: $line*2;
    column-count: 3;
  }
  .text-contents {
    margin: 0 (-$line*1.5) $line;
    padding: $line $line*1.5;
  }
  .related {
    margin: $line*1.5 (-$line*1.5) $line;
    &__container {
      padding-left: $line*1.5;
      padding-right: $line*1.5;
    }
  }
  .post-content {
    margin: $line*1.75 0 0;
  }
}


@media #{$max-l} {
  .page-main-image, .page-stats-image {
    &__image {
      transform: none !important;
    }
  }
  .page-main-image ~ .text-copy .text-contents {
    margin-top: $line*1.5;
  }
}


@media #{$min-l} {
  .detail {
    .content {
      width: $page-width;
    }
    .page-header, .page-footer {
      margin-left: 0;
    }
  }
  .page-main-image, .page-stats-image {
    &__image {
      top: -40px;
      bottom: -40px;
    }
  }
  .page-main-image {
    width: auto;
    height: auto;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: $page-width;
  }
}


@media #{$min-w} {
  $left-column-width: 250px;
  .detail {
    .page-header, .content, .page-footer {
      margin-left: $left-column-width;
    }
  }
  .page-main-image {
    left: $page-width + $left-column-width;
  }
  .page-stats-image, .review-stats {
    display: block;
    width: $left-column-width;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .review-stats {
    position: absolute;
    margin: 0;
    padding: $line*12 $line*1.5 $line;
    column-count: 1;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    overflow-y: auto;
    text-align: right;
    &__group {
      margin-bottom: $line;
    }
    &__label, &__elaboration {
      color: #fff;
    }
    &__stat {
      color: $accent-light;
    }
  }

  .detail .text-copy figure {
    float: left;
    margin-left: 0;
    margin-right: $line;
    &.can-nudge {
      max-width: $left-column-width*2 - $line*1.5;
      margin-left: -($left-column-width + $line);
      position: relative;
      z-index: 6;
    }
  }
}


@media #{$min-hd} {
  $left-column-width: 350px;
  .detail {
    .page-header, .content, .page-footer {
      margin-left: $left-column-width;
    }
  }
  .page-main-image {
    left: $page-width + $left-column-width;
  }
  .page-stats-image, .review-stats {
    display: block;
    width: $left-column-width;
  }

  .detail .text-copy figure.can-nudge {
    max-width: $left-column-width*2 - $line*1.5;
    margin-left: -($left-column-width + $line);
  }
}
