/* ---------- =list pages ---------- */

.article-list {
  list-style: none;
  margin: 0 auto $line*2;
  &__item + &__item {
    margin-top: $line/2;
  }

  .list & {
    max-width: $page-width;
  }
}

.list-filters {
  margin: 0 (-$line) $line;
  padding: $line;
  &__facet {
    position: relative;
  }
  &__facet + &__facet, #list-link-filters + &__facet {
    margin-top: $line;
  }
  &__label {
    margin: 0;
  }
  .range-group {
    margin: $line/2 0 0;
  }
  &__range-label {
    width: 100%;
    text-align: center;
    font-size: $micro;
    line-height: $micro;
    font-style: italic;
    opacity: 0.8;
  }
  &__choices {
    list-style: none;
    margin: 0;
  }
  &__choice a {
    @extend .text-link;
    @extend .alternate-typeface;
  }
  &__toggle {
    @include page-details-toggle($page-width + 400px, 70em);
  }
}

$x-size: 14px;
.list-active-filters {
  margin-bottom: $line;
  line-height: $line*1.5;
  a {
    display: inline-block;
    margin-right: $x-size + $line/2;
    line-height: $line;
    position: relative;
    box-shadow: 0 3px 0 $primary;
    &::before, &::after {
      content: '';
      display: block;
      width: $x-size;
      height: 3px;
      background: darken($bg-light, 5%);
      position: absolute;
      left: 100%;
      margin-left: $line/4;
      top: 50%;
      margin-top: -1px;
      transition: background 0.15s ease-out;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover, &:focus {
      color: $accent;
      box-shadow: 0 3px 0 $accent;
      &::before, &::after {
        background: $action;
      }
    }
  }
  &__clause:first-of-type::before {
    content: "that are ";
  }
}


@media #{$min-m} {
  .list-active-filters {
    margin-bottom: $line*1.5;
    text-align: center;
  }
}


@media #{$min-w} {
  .list-active-filters {
    line-height: $line*2;
    a {
      margin-right: 0;
      &::before, &::after {
        left: 50%;
        margin-left: -$x-size/2;
        top: -$x-size/2;
        margin-top: 0;
      }
    }
  }
}


@media (min-width: $page-width + 400px) {
  .list-filters {
    $width: 200px;
    width: $width;
    float: left;
    text-align: right;
    margin-right: 0;
    margin-left: calc(50% - #{$page-width/2} - #{$width});
    padding: 0 $line 0 $line/2;
  }
}


@media (min-width: $page-width + 500px) {
  .list-filters {
    $width: 250px;
    width: $width;
    margin-left: calc(50% - #{$page-width/2} - #{$width});
  }
}
