{% extends "../_layout.twig" %}

{% block title %}Error {{ statusCode }}{% endblock %}

{% block layoutClass %}general{% endblock %}

{% block content %}
  <section class="content" role="main">

    <h1 class="page-title">
      <span class="page-title__container">
        Error {{ statusCode }}
        <span class="page-title__sub">{{ message }}</span>
      </span>
    </h1>

    <div class="text-content page-width">
      <p>Sorry about that.</p>
    </div>

  </section>
{% endblock %}
